<% content_for :header do %>
<div id="login" class="float_right">
	<%= link_to "Log In", new_user_session_path %>
</div>
<% end %>

<% content_for :content do %>
<div id="bulletin"></div>
<% end %>

<%= render :file => 'layouts/homepage' %>
