development:
  ses_access_key_id: Secret
  ses_secret_access_key: SuperSecret
  db_username: Matt
  db_password: password

test:
  db_username: User
  db_password: password

production:
  db_username: User
  db_password: password
