development:
  ses_access_key_id: Secret
  ses_secret_access_key: SuperSecret
  mailer_address: mailer@email.com
  db_username: Matt
  db_password: password

test:
	ses_access_key_id: Secret
	ses_secret_access_key: SuperSecret
	mailer_address: mailer@email.com
	db_username: Matt
	db_password: password

production:
	ses_access_key_id: Secret
	ses_secret_access_key: SuperSecret
	mailer_address: mailer@email.com
	db_username: Matt
	db_password: password
