<%= form_for @subscription, :url => subscription_path(@subscription) do |f| %>
	<div class="field">
	  <%= f.label :newsletter %>: <%= f.check_box :newsletter %>
	</div>
  <div class="actions">
    <%= f.submit "Save Changes" %>
  </div>
<% end %>



