<% content_for :content do %>
<div id="bulletin">
		<%= render :partial => "global/headerbar", :locals => {:text => "Homepage", :style => "full" } %>
	<p>
		This is the homepage for a logged in user.<br/>  You will stay here until you log out.
	</p>
</div>
<% end %>

<%= render :file => 'layouts/webapp' %>