<% content_for :content do %>

	<div id="bulletin">
		<h2>Homepage</h2>
		<p>
			This is the homepage for a logged in user.<br/>  You will stay here until you log out.
		</p>
	</div>
<% end %>

<%= render :file => 'layouts/webapp' %>