body{
	 background: #ccc; 
	
	#body_wrapper{
		background: #fff;
		margin-top: 15px;
		border: 1px solid #454545;

		#header {
		  background: rgb(255,255,255);
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMTAwJSI+CiAgICA8c3RvcCBvZmZzZXQ9IjAlIiBzdG9wLWNvbG9yPSIjZmZmZmZmIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZjFmMWYxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iNTElIiBzdG9wLWNvbG9yPSIjZTFlMWUxIiBzdG9wLW9wYWNpdHk9IjEiLz4KICAgIDxzdG9wIG9mZnNldD0iMTAwJSIgc3RvcC1jb2xvcj0iI2Y2ZjZmNiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgPC9saW5lYXJHcmFkaWVudD4KICA8cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWQtdWNnZy1nZW5lcmF0ZWQpIiAvPgo8L3N2Zz4=);
			background: -moz-linear-gradient(-80deg,  rgba(255,255,255,1) 0%, rgba(241,241,241,1) 50%, rgba(225,225,225,1) 51%, rgba(246,246,246,1) 100%);
			background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(50%,rgba(241,241,241,1)), color-stop(51%,rgba(225,225,225,1)), color-stop(100%,rgba(246,246,246,1)));
			background: -webkit-linear-gradient(-80deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
			background: -o-linear-gradient(-80deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
			background: -ms-linear-gradient(-80deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
			background: linear-gradient(-80deg,  rgba(255,255,255,1) 0%,rgba(241,241,241,1) 50%,rgba(225,225,225,1) 51%,rgba(246,246,246,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#f6f6f6',GradientType=1 );
			margin: 0;
			padding: 10px;


		  h1 {
		    margin: 0; 
			} 
		}
		
		#navigation {
			background: rgb(60,58,63);
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjM2EzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzRhNGQ0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTBlMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGEwODA5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
			background: -moz-linear-gradient(top,  rgba(60,58,63,1) 0%, rgba(74,77,79,1) 66%, rgba(10,14,10,1) 100%, rgba(10,8,9,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,58,63,1)), color-stop(66%,rgba(74,77,79,1)), color-stop(100%,rgba(10,14,10,1)), color-stop(100%,rgba(10,8,9,1)));
			background: -webkit-linear-gradient(top,  rgba(60,58,63,1) 0%,rgba(74,77,79,1) 66%,rgba(10,14,10,1) 100%,rgba(10,8,9,1) 100%);
			background: -o-linear-gradient(top,  rgba(60,58,63,1) 0%,rgba(74,77,79,1) 66%,rgba(10,14,10,1) 100%,rgba(10,8,9,1) 100%);
			background: -ms-linear-gradient(top,  rgba(60,58,63,1) 0%,rgba(74,77,79,1) 66%,rgba(10,14,10,1) 100%,rgba(10,8,9,1) 100%);
			background: linear-gradient(top,  rgba(60,58,63,1) 0%,rgba(74,77,79,1) 66%,rgba(10,14,10,1) 100%,rgba(10,8,9,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3a3f', endColorstr='#0a0809',GradientType=0 );

			margin: 0;
			padding: 0 10px;
		  ul {
		    margin: 0;
		    padding: 0;
		float: left;
		    li {
		      list-style-type: none;
		      display: inline; } }
		  li a {
		    display: block;
		    float: left;
		    padding: 5px 20px;
		    color: #fff;
		    text-decoration: none;

		    &:hover {
					background: rgb(229,76,11);
					background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U1NGMwYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iI2UwNzE0NSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlNTRjMGIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
					background: -moz-linear-gradient(top,  rgba(229,76,11,1) 0%, rgba(224,113,69,1) 66%, rgba(229,76,11,1) 100%);
					background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(229,76,11,1)), color-stop(66%,rgba(224,113,69,1)), color-stop(100%,rgba(229,76,11,1)));
					background: -webkit-linear-gradient(top,  rgba(229,76,11,1) 0%,rgba(224,113,69,1) 66%,rgba(229,76,11,1) 100%);
					background: -o-linear-gradient(top,  rgba(229,76,11,1) 0%,rgba(224,113,69,1) 66%,rgba(229,76,11,1) 100%);
					background: -ms-linear-gradient(top,  rgba(229,76,11,1) 0%,rgba(224,113,69,1) 66%,rgba(229,76,11,1) 100%);
					background: linear-gradient(top,  rgba(229,76,11,1) 0%,rgba(224,113,69,1) 66%,rgba(229,76,11,1) 100%);
					filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e54c0b', endColorstr='#e54c0b',GradientType=0 );

				} 
			} 
			#login{
				float: right;
				padding: 5px;
				color: #999999;
		    font-size: 12px;
		    font-style: italic;
		    font-weight: normal;
				a{
					color: #ffffff;
				}
			}
		}
		
		#content{
			margin-top: 10px;
		}
		
		#sidebar{
			margin-top: 10px;
		}
		
		#footer {
		  margin: 0 auto;
		  text-align: right;
		  padding: 10px;
		  height: 1%; 
		  clear: left;
		  color: #fff;
		  background: rgb(60,58,63);
			background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzNjM2EzZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjY2JSIgc3RvcC1jb2xvcj0iIzRhNGQ0ZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwYTBlMGEiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjMGEwODA5IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
			background: -moz-linear-gradient(top,  rgba(60,58,63,1) 0%, rgba(74,77,79,1) 66%, rgba(10,14,10,1) 100%, rgba(10,8,9,1) 100%);
			background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(60,58,63,1)), color-stop(66%,rgba(74,77,79,1)), color-stop(100%,rgba(10,14,10,1)), color-stop(100%,rgba(10,8,9,1)));
			background: -webkit-linear-gradient(top,  rgba(60,58,63,1) 0%,rgba(74,77,79,1) 66%,rgba(10,14,10,1) 100%,rgba(10,8,9,1) 100%);
			background: -o-linear-gradient(top,  rgba(60,58,63,1) 0%,rgba(74,77,79,1) 66%,rgba(10,14,10,1) 100%,rgba(10,8,9,1) 100%);
			background: -ms-linear-gradient(top,  rgba(60,58,63,1) 0%,rgba(74,77,79,1) 66%,rgba(10,14,10,1) 100%,rgba(10,8,9,1) 100%);
			background: linear-gradient(top,  rgba(60,58,63,1) 0%,rgba(74,77,79,1) 66%,rgba(10,14,10,1) 100%,rgba(10,8,9,1) 100%);
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3c3a3f', endColorstr='#0a0809',GradientType=0 );
			
		}
		
		#error_explanation{
			h2{
				font-size: 16px;
				border-bottom: none;
				margin-bottom: 0px;
			}
			ul{
				padding: 0;
				margin: 0;
			}
			margin: -10px 0 10px 0;
			border: 1px solid #D8000C;
		  color: #D8000C;
		  background: url('../icons/alert.png') no-repeat 1% 50% #FFBABA;
			padding: 5px 15px 5px 50px;
		}
	}
}

// Additional Classes


// Rails debugging window.  Always show during development.

#button_bar{
	background: rgb(201,201,201);
	background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI0OCUiIHN0b3AtY29sb3I9IiNjOWM5YzkiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNmZmZmZmYiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
	background: -moz-linear-gradient(top,  rgba(201,201,201,1) 48%, rgba(255,255,255,1) 99%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(48%,rgba(201,201,201,1)), color-stop(99%,rgba(255,255,255,1)));
	background: -webkit-linear-gradient(top,  rgba(201,201,201,1) 48%,rgba(255,255,255,1) 99%);
	background: -o-linear-gradient(top,  rgba(201,201,201,1) 48%,rgba(255,255,255,1) 99%);
	background: -ms-linear-gradient(top,  rgba(201,201,201,1) 48%,rgba(255,255,255,1) 99%);
	background: linear-gradient(top,  rgba(201,201,201,1) 48%,rgba(255,255,255,1) 99%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#c9c9c9', endColorstr='#ffffff',GradientType=0 );




	
	width: 100%; 
	height: 30px; 
	border-top: 1px solid #333333; 
	padding: 10px; 
	margin-left: -10px;


}
#debug{
	border: 1px solid black; 
	background-color: #fff; 
	padding: 5px 15px; 
	margin: 15px; 
	font-size: .8em;
}

// Quick float to the right
.float_right{
	float: right;
	margin: 0 0 0 10px;
}

// Quick float to the left
.float_left{
	float: left;
	margin: 0 10px 0 0;
}

// Any field with errors set by the rails engine, change the text
.field_with_errors{
	color: red;
	font-weight: bold;
}
