body{
	 background: #ccc; 
	
	#body_wrapper{
		background: #fff;
		margin-top: 15px;
		border: 1px solid #454545;

		#header {
		  background: #ddd;
			margin: 0;
			padding: 10px;


		  h1 {
		    margin: 0; 
			} 
		}
		
		#navigation {
			background: #333; 
			margin: 0;
			padding: 0 10px;
		  ul {
		    margin: 0;
		    padding: 0;
		float: left;
		    li {
		      list-style-type: none;
		      display: inline; } }
		  li a {
		    display: block;
		    float: left;
		    padding: 5px 20px;
		    color: #fff;
		    text-decoration: none;

		    &:hover {
		      background: #383; 
				} 
			} 
			#login{
				float: right;
				padding: 5px;
				color: #999999;
		    font-size: 12px;
		    font-style: italic;
		    font-weight: normal;
				a{
					color: #ffffff;
				}
			}
		}
		
		#content{
			margin-top: 10px;
		}
		
		#sidebar{
			margin-top: 10px;
		}
		
		#footer {
		  margin: 0 auto;
		  text-align: right;
		  padding: 10px;
		  height: 1%; 
		  clear: left;
		  color: #fff;
		  background: #333333;
		}
		
		#error_explanation{
			h2{
				font-size: 16px;
				border-bottom: none;
				margin-bottom: 0px;
			}
			ul{
				padding: 0;
				margin: 0;
			}
			margin: -10px 0 10px 0;
			border: 1px solid #D8000C;
		  color: #D8000C;
		  background: url('../icons/alert.png') no-repeat 1% 50% #FFBABA;
			padding: 5px 15px 5px 50px;
		}
	}
}

// Additional Classes


// Rails debugging window.  Always show during development.
#debug{
	border: 1px solid black; 
	background-color: #fff; 
	padding: 5px 15px; 
	margin: 15px; 
	font-size: .8em;
}

// Quick float to the right
.float_right{
	float: right;
}

// Quick float to the left
.float_left{
	float: right;
}

// Any field with errors set by the rails engine, change the text
.field_with_errors{
	color: red;
	font-weight: bold;
}
