<% flash.each do |key,msg| %>
	<div id="flash" class="flash <%=key%>">
  	<%= msg %>
		<div id="flash_close" class="float_right">
			<%= link_to "Hide", "#", :id => "flash_close_button" %>
		</div>
	</div>
<% end %>

