<% content_for :navigation do %>
	<% if user_signed_in? %>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><%= link_to "Change Email Preferences", subscription_index_path %></li>
		<li><%= link_to "Edit my Settings", edit_user_registration_path %></li>
	</ul>
	<% else %>
	<ul>
		<li><%= link_to "Home", root_path %></li>
		<li><a href="#">Option 2</a></li>
		<li><a href="#">Option 3</a></li>
		<li><a href="#">Option 4</a></li>
	</ul>
	<% end %>
	
<% end %>