body{
	 background: #343434;
	
	#topbar{
		color: #fff;
		text-shadow: 1px 1px #000;
		margin: 0;
		padding: 0;
		height: 50px;
		
		#navigation {
			float: right;
			line-height: 40px;
			margin: 0;
			padding: 0 10px;
		  ul {
		    margin: 0;
		    padding: 0;
				float: right;
		    li {
		      list-style-type: none;
		      display: inline; } }
		  li a {
		    display: block;
		    float: right;
		    padding: 5px 20px;
		    color: #fff;
		    text-decoration: none;
				&:hover{
					color: #FFD0B7;
					text-decoration: underline;
				}
			} 
		}
	}
	
	#steelbar{
		background: url('layout/steelbar.jpg') repeat-x top left #343434;
		height: 10px;
	}
	
	#body_wrapper{
		background: url('layout/bulletin_bg.jpg') repeat top left #343434;
		border: 1px solid #454545;
		font-weight: bold;
		
		#content{
			margin: 10px 0;
			padding: 20px;
		}
		
		#sidebar{
			margin: 10px 0;
		}
		
		#full_top{
			background: url('layout/full_top.png') no-repeat top left;
			height: 20px;
			margin-top: 10px;
		}
		#full{
			background: url('layout/full.png') repeat-y;
		}
		#full_bottom{
			background: url('layout/full_bottom.png') no-repeat top left;
			height: 20px;
			margin-bottom: 10px;
		}
		#half_top{
			
		}
		#half{
			
		}
		#half_bottom{
			
		}
		#sidebar_top{
			
		}
		#sidebar{
			
		}
		#sidebar_bottom{
			
		}
	}
	

}


